* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  color: #555;
  background-color: #f5f7f9;
  font-family: "Lato", "PingFang SC", "Microsoft YaHei", sans-serif;
  height: 100%;
  position: relative;
}

#header {
  position: relative;
  margin: 0 auto;
  width: 960px;
}

.headerband {
  height: 3px;
  background: #febe85;
}

.header-inner {
  position: absolute;
  width: 240px;
  padding: 0;
  background-color: #f5f7f9;
  overflow: hidden;
  top: 0;
}

aside {
  width: 240px;
  margin: 0 16px;
  /* background-color: yellow; */
  float: left;
}

.menu {
  padding: 12px 0px;
  background-color: #fff;
}

.menu li {
  margin: 0;
  position: relative;
  text-decoration-style: none;
  list-style-type: none;
}

.menu a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 13px;
  color: #222;
}
.menu i {
  margin-right: 8px;
}

.menu a:hover {
  background-color: #eee;
}

.menu .menu-item-active::after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #bbb;
}

.logo {
  padding: 12px;
  text-align: center;
  color: #fff;
  background-color: #febe85;
  line-height: 1.5;
}

.logo span {
  display: block;
  padding-top: 12px;
  font-size: 1.2em;
}

#person-bar {
  margin: 12px 0;
  padding: 12px;
  background-color: #fff;
}

.site-author-avatar {
  display: block;
  margin: 0 auto;
  width: 110px;
  height: 110px;
  border-radius: 250px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
}

.site-author-name {
  text-align: center;
  display: block;
  color: #222;
  font-size: 0.8em;
  font-weight: 600;
  padding-bottom: 12px;
  margin: 8px;
}

.site-state {
  display: block;
  text-align: center;
}

.site-state-item {
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  border-left: 1px solid #eee;
}

.site-state-item:first-child {
  border-left: none;
}

.site-state-item a {
  text-decoration: none;
  color: black;
}

.site-state-item-count {
  font-weight: 600;
  display: block;
}

.site-state-item-name {
  font-size: 13px;
  color: #999;
  display: block;
}

.site-author-link {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.site-author-link-item {
  margin: 5px 0 0 0;
  width: 50%;
}

.site-author-link-item a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #555;
  padding: 5px 0;
}

.site-author-link-item a:hover {
  background-color: #eee;
  border-radius: 8px;
}

.site-author-link-item i {
  display: inline-block;
  font-size: 16px;
  margin-right: 8px;
}

#main {
  margin: 0 auto;
  width: 960px;
}

.main-inner {
  float: right;
  width: 700px;
  padding-top: 30px;
  background-color: #fff;
}

#posts {
  padding: 40px;
  min-height: 700px;
}

.post {
  text-align: center;
  font-size: 14px;
  line-height: 2;
}

.post-title {
  font-size: 26px;
  word-break: break-word;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.post-title-link {
  color: #555;
  background-color: transparent;
  text-decoration: none;
  position: relative;
}

.post-title-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.post-title-link::before {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -2px;
  left: 0;
  right: 0;
  visibility: hidden;
  background-color: #000;
  transform: scaleX(0);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.post-meta {
  margin: 3px 0 50px 0;
  color: #999;
  font-size: 12px;
  text-align: center;
}

.post-meta a {
  color: #555;
}

.post-time {
  font-size: 11px;
}

.post-meta-item-icon {
  margin-right: 3px;
}

.post-meta-item-text {
  font-size: inherit;
}

.post-meta-divider {
  margin: 0 0.5em;
}

.post-category {
  font-size: inherit;
}

.post-button {
  margin-top: 50px;
  font-size: 14px;
  line-height: 2;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 2px 20px;
  color: #222;
  background-color: #fff;
  border: solid 2px #555;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0;
}

.btn:hover {
  background-color: #febe85;
}

.post-eof {
  display: block;
  margin: 80px auto 60px;
  height: 1px;
  background-color: #999;
  width: 8%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.main-center {
  width: 960px;
  margin: auto;
}

footer {
  margin: 0;
  padding: 0;
  width: 95%;
  background-color: #22ff0033;
}

.footer {
  min-height: 50px;
  width: 100%;
}
